@page "/docs/quickstart"
@using MudBlazor.PdfViewer.Docs.Code

<PageTitle>Blazor PDF | Quickstart</PageTitle>

<PageMetadata Title="Blazor PDF | Quickstart"
              Description="This page will guide you through the required steps to get Blazor PDF up and running."
              Url="https://blazorpdf.info/docs/quickstart"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">Quickstart</MudText>
            <MudText Class="mb-2">This will guide you through the required steps to get Blazor PDF up and running.</MudText>

            <MudAlert Severity="Severity.Info">Using Blazor Pdf with a MAUI Blazor Hybrid Application requires additional configuration. Please see the <MudLink Href="/docs/maui">maui specific documentation</MudLink> for more info</MudAlert>
            
            <MudText Typo="Typo.h4" Class="mt-5 mb-1">Prerequisites</MudText>
            <MudText>In order to use Blazor PDF, your project must target either .NET 8 or .NET 9</MudText>

            <MudText Typo="Typo.h4" Class="mt-5 mb-1">Installation</MudText>
            <MudText>Grab the latest package from <MudLink Color="Color.Primary" Href="https://www.nuget.org/packages/Gotho.MudBlazor.PdfViewer/#readme-body-tab">nuget.org</MudLink></MudText>
            
            <CodeSnippet Body="@QuickStart.Package" Lang="sh"/>

            <MudText Typo="Typo.h4" Class="mt-5 mb-1">Configuration</MudText>
            
            <MudText>Add the following to your application startup in <MudText HtmlTag="code">Program.cs</MudText></MudText>
            <CodeSnippet Body="@QuickStart.ProgramCs" Lang="cs"/>

            <MudText>Update your <MudText HtmlTag="code">App.razor</MudText> file to import the required CSS.</MudText>
            <CodeSnippet Body="@QuickStart.AppRazor" Lang="html"/>

            <MudText>Then, add the namespace to your <MudText HtmlTag="code">_Imports.razor</MudText> file.</MudText>
            <CodeSnippet Body="@QuickStart.ImportRazor" Lang="razor"/>
            
            <MudText>You should now be able to use Blazor PDF in your Project! 🚀</MudText>

            <MudText Typo="Typo.h4" Class="mt-5 mb-1">Usage</MudText>
            <MudText>Below is a basic example of the minimum required code in order to display a PDF document. See the rest of the documentation for full configuration options.</MudText>

            <CodeSnippet Body="@QuickStart.Minimum"/>

        </MudItem>
    </MudGrid>
</div>

@code {
    
}