@inherits MudComponentBase

<div style="width: inherit">
    <MudPaper Class="mb-5" Width="100%">
        <MudToolBar Class="justify-space-between">
            <MudTooltip Text="@Config.Labels.PreviousPage" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Config.Icons.PreviousPage" Size="Size.Medium" OnClick="PreviousPageAsync" aria-label="previous page"/>
            </MudTooltip>
            <MudTooltip Text="Next Page" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" Size="Size.Medium" OnClick="NextPageAsync" aria-label="next page"/>
            </MudTooltip>
            <MudText Typo="Typo.body1">@_pageNumber</MudText>
            <MudText Typo="Typo.body1" Class="ml-2 mr-2">of</MudText>
            <MudText Typo="Typo.body1">@_pageCount</MudText>
            <MudSpacer/>
            <MudTooltip Text="Zoom Out" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Icons.Material.Filled.Remove" Size="Size.Medium" OnClick="ZoomOutAsync" aria-label="zoom out"/>
            </MudTooltip>
            <MudChip T="string" Variant="Variant.Text">@_zoomPercentage</MudChip>
            <MudTooltip Text="Zoom In" Arrow="true" Placement="Placement.Top">
                <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Medium" OnClick="ZoomInAsync" aria-label="zoom in"/>
            </MudTooltip>
            <MudSpacer/>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open menu">
                <MudMenuItem Icon="@Icons.Material.Filled.RotateRight" Label="Rotate Clockwise" OnClick="RotateClockwiseAsync"/>
                <MudMenuItem Icon="@Icons.Material.Filled.RotateLeft" Label="Rotate Counterclockwise" OnClick="RotateCounterclockwiseAsync"/>
                <MudMenuItem Icon="@Icons.Material.Filled.ScreenRotation" Label="Switch Orientation" OnClick="SwitchOrientationAsync"/>
                <MudDivider/>
                <MudMenuItem Icon="@Icons.Material.Filled.VerticalAlignTop" Label="First Page" OnClick="FirstPageAsync"/>
                <MudMenuItem Icon="@Icons.Material.Filled.VerticalAlignBottom" Label="Last Page" OnClick="LastPageAsync"/>
                <MudDivider/>
                <MudMenuItem Icon="@Icons.Material.Filled.ResetTv" Label="Reset Zoom" OnClick="ResetZoomAsync"/>
            </MudMenu>
        </MudToolBar>

        <MudPaper Class="justify-center d-flex" Style="background-color: black">
            <canvas @ref="_element" id="@_id">

            </canvas>
        </MudPaper>
    </MudPaper>
</div>